@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sigmar&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*
 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 512px;
    background-color: #191D7b;
    margin: 0 auto;
}

.banner {
    width: 512px;
}

#main {
    margin: 1rem;
    padding: 2rem;
}

#top{
    padding: 2rem;
}

.title {
    font-family: Sigmar;
    text-transform: uppercase;
    color: white;
    text-align: center;
    line-height: 2rem;
    
}

.subtitle {
    font-family: DM Sans;
    color: white;
    text-align: center;
    margin-top: 1rem;
}