@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sigmar&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*
 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dis-page-bg: #191d7b;
    --dis-primary: #5865f2;
    --dis-light: #ffffff;
    
}

body {
    width: 512px;
    background-color: var(--dis-page-bg);
    margin: 0 auto;
}

h2 {
    font-size: 2em;
}

.banner {
    width: 100%;
}

.main {
    margin: 1rem;
    padding: 2rem;
}

.top{
    padding: 2rem;
}

.title {
    font-family: Sigmar;
    color: white;
    text-align: center;
    line-height: 2rem;
}

.subtitle {
    font-family: DM Sans;
    font-size: 1rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
}

.buttons {
    margin-top: 1rem;
    font-family: DM Sans;
    align-items: center;
}

.btn {
    padding: 1rem 1rem;
    display: block;
    border: 0;
    border-radius: 1rem;
    width: 100%;
    font-size: large;
}

.link {
    display: block;
    margin-top: 1rem;
    padding: 1rem 1rem;
    border: 0;
    border-radius: 1rem;
    color: white;
    background-color: var(--dis-primary);
    width: 100%;
    font-size: large;
    text-decoration: none;
    text-align: center;
}

.box {
    padding: 4rem 2rem 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: var(--dis-light);
    line-height: 35px;
    text-align: left;
    background: linear-gradient(#32368F, #5460E8);
    border: 0;
    border-radius: 2rem;
    position: relative;
}

.box-title {
    font-family: Sigmar;
    font-size: 1.1em;
    text-align: left;
    margin-bottom: 1rem;
}

.box-p {
    font-family: DM Sans;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}

.video {
    width: 100%;
    border:0;
    border-radius: 2rem;
}

.icon {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 15%;
    width: 25%;
}